// Header 
.container{
    background-color: white;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    top: 0;
    z-index: 1;

    .logo{
    grid-column: 1;
    grid-row: 1;
    }

    .nav{
    display: flex;
    grid-column: 2/6;
    grid-row: 1;
    }

    .search{
        grid-column: 6;
        grid-row: 1;
        align-self: center;
    }
}

.container .nav > h1:first-child{
    color: $background-color-blue;
}

.search > input {
    width: 150px;
}

button[name="login"]{
  background-color:rgba(34,137,225);  
  color: aliceblue;
  width: 50px;
  height: 30px;
  @include border-mixin(5px)
}